@model Shop.Models.MyTest

<h2>Мы на странице Sample</h2>
<h2>@Model.Name</h2>
@await Html.PartialAsync("_GetMessage")
@*комменты*@
@{
    await Html.RenderPartialAsync("_GetMessage");
    string hello = "Hello world";
    @:<h3>Заголовок @hello</h3>
    <text>@hello</text>
    int x = 1;
}
условный оператор
@if(x==1)
{
    <p>х равен 1</p>
}
else
{
    <p>х  не равен 1</p>
}

<h4>@ViewData["Message"]</h4>
<h4>@ViewData["Apple"]</h4>
@{
    ViewBag.Message = "Test";
}
<h4>@ViewBag.Message</h4>